*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a2a2a;
}

.navigation-bar {
  width: 100%;  
  height: 80px; 
  background-color: #194730; 
  box-shadow: 1px 1px 1px black;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;    
}

.navigation-bar > a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 80px;        
  line-height: 80px;    
}

nav ul{
  display: inline-block;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
   
}

nav ul li a, nav ul li p{
  color: white;
  font-size: 17px;
  /* padding: 7px 13px; */
  border-radius: 3px;
  text-transform: uppercase;
}

a.active.highlight-hover, a.highlight-hover:hover{
  background:#055940;
  transition: .05s;
  border-width: 1px;
}

div.bordered {
  border: 1px solid grey;
  border-radius: 5px;
}

.float-right {
  float: right;
}

#check{
  display: none;
}

.center-box-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  margin-top: 50;
  padding: 5%;
  text-align: center;
}

.center-box h1, .center-box p {
  color: white;
}

.center-box a {
  color: grey;
}

.center-box input {
  color: black;
}

.flix_submit {
  padding: 0.5em 1em;
}

.rounded {
  border-radius: 5px;
}

.error {
  color: red !important;
}

.error-page {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
}

.error-page > h1 {
  color: white;
}

.error-page > h2 {
  color: #cccccc;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }

  a:hover,a.active{
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

section{
  background-size: cover;
  height: calc(100vh - 80px);
}

.row {
  display:flex;
  padding: 0 4px;
  align-content: center;
  margin-top: 1%
}

.column {
  position: relative;
  max-width: 50%;
  width: 50%;
  padding: 0 4px;
}

.column img {
  border: 1px solid rgba(0, 255, 76, 0.212);
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 1px 1px 1px black;
}

.column img:hover{
  box-shadow: 0px 0px 5px white;
}

