<div class="row">
    <div class="column">
        <img src="images/content/DareDevilStick.png">
        <img src="images/content/Deadly_stick.png">
    </div>
    <div class="column">
        <img src="images/content/John_Stick2.png">
        <img src="images/content/Prison_Break_Stick.png">
    </div>

    <div class="column">
        <img src="images/content/Sticklok.png">
        <img src="images/content/The Walking Dead.png">
    </div>

    <div class="column">
        <img src="images/content/The_Stick_Runner.png">
        <img src="images/content/breakingstick.png">
    </div>
</div>